.container {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.title {
  font-size: 30px;
  margin-bottom: 15px;
}
.secondary-title {
  font-size: 26px;
  margin-bottom: 15px;
}
.contact-message {
  font-size: 20px;
}
