.form-container {
  width: 500px;
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid black;
}
.form-label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}
.form-input {
  display: block;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.form-button {
  border: 1px solid black;
  border-radius: 8%;
  background-color: #fff;

  &:active {
    background-color: blue;
  }
}
