body {
  background-color: rgb(202, 69, 69);
}

a {
  padding: 0 5px;
  border: 1px solid #fff;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
}
h1 {
  text-align: center;
}
h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

input {
  display: block;
  border: 1px solid rgb(71, 255, 200);
  border-radius: 20px;
  padding: 0 10px;
}
label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

button {
  border: 1px solid rgb(71, 255, 200);
  border-radius: 20px;
  padding: 0 10px;
  background-color: #fff;
  color: blue;

  &:active {
    background-color: blue;
    color: #fff;
  }
}
